# Getting Started with LlamaCloud (Tesla 10K)

<a href="https://colab.research.google.com/github/run-llama/llamacloud-demo/blob/main/examples/getting_started_tesla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook shows you how to get started with LlamaCloud by building a simple RAG pipeline over the 2023 Tesla 10K filing, and then querying it.

## Build RAG Pipeline from LlamaCloud Index

The LlamaCloud index is built over the 2023 Tesla 10K filing.

To create the index, follow the instructions:
1. You can download the Tesla 10K here: https://ir.tesla.com/_flysystem/s3/sec/000162828024002390/tsla-20231231-gen.pdf
2. Follow instructions on `https://cloud.llamaindex.ai/` to signup for an account. Create a pipeline by uploading this document.

In [ ]:
!pip install llama-index-indices-llama-cloud

In [3]:
from llama_index.indices.managed.llama_cloud import LlamaCloudIndex

index = LlamaCloudIndex(
  name="<index_name>", 
  project_name="<project_name>",
  api_key="llx-"
)

## Try out an Example Query! 

Now we can try out an example query against the index.

If you want an out of the box query engine, just do `index.as_query_engine()` (similar to our VectorStoreIndex).

If you want a retriever that you can plug into a custom workflow, do `index.as_retriever()`

In [4]:
# query = "Tell me about the total cost of revenues in 2022"
# query = "Tell me about the R&D operating expenses in 2023"
# query = "Tell me revenues from energy generation and storage leasing in 2023"
query = "Tell me the solar energy systems in service in 2023 and 2022" 
nodes = index.as_retriever().retrieve(query)

In [5]:
print(len(nodes))

5

We see that the top-retrieved node corresponds to an extracted table. We automatically extract a table summary and format the table in clean Markdown.

In [6]:
print(nodes[0].get_content(metadata_mode="all"))

table_df: {' ': {0: 'Solar energy systems in service', 1: 'Initial direct costs related to customer solar energy system lease acquisition costs', 2: 'Total', 3: 'Less: accumulated depreciation and amortization (1)', 4: 'Solar energy systems under construction', 5: 'Solar energy systems pending interconnection', 6: 'Solar energy systems, net (2)'}, 'December 31, 2023': {0: '$6,755', 1: '$104', 2: '$6,859', 3: '($1,643)', 4: '1', 5: '12', 6: '$5,229'}, 'December 31, 2022': {0: '$6,785', 1: '$104', 2: '$6,889', 3: '($1,418)', 4: '2', 5: '16', 6: '$5,489'}}
table_summary: Summary: The table provides information on solar energy systems, including those in service, under construction, pending interconnection, and the net value after depreciation and amortization.,
with the following table title:
Solar Energy Systems Overview,
with the following columns:
- December 31, 2023: None
- December 31, 2022: None

file_name: tesla_2023 (2).pdf
file_path: tesla_2023 (2).pdf
file_type: application/pdf
file_size: 984581
llx_platform_pipeline_id: 205bb92d-2932-4034-b354-68ec83635762
llx_platform_loaded_file_id: 2b7e68a0-3e8d-40da-9185-f9a4bbbaa513
pipeline_id: 205bb92d-2932-4034-b354-68ec83635762

Summary: The table provides information on **solar** **energy** **systems**, including those in **service**, under construction, pending interconnection, and the net value after depreciation and amortization.,
with the following table title:
**Solar** **Energy** **Systems** Overview,
with the following columns:
- December 31, **2023**: None
- December 31, **2022**: None

| |December 31, **2023**|December 31, **2022**|
|---|---|---|
|**Solar** **energy** **systems** in **service**|$6,755|$6,785|
|Initial direct costs related to customer **solar** **energy** system lease acquisition costs|$104|$104|
|Total|$6,859|$6,889|
|Less: accumulated depreciation and amortization (1)|($1,643)|($1,418)|
|**Solar** **energy** **systems** under construction|1|2|
|**Solar** **energy** **systems** pending interconnection|12|16|
|**Solar** **energy** **systems**, net (2)|$5,229|$5,489|

Now let's try plugging this into a query engine.

In [7]:
response = index.as_query_engine().query(query)

In [8]:
print(str(response))

The solar energy systems in service in 2023 were $6,755, and in 2022, they were $6,785.